<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script> -->
</head>
<body>

    <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{dev.name}}"?</p>
        <a href="/">Go Back</a>
        <input type="submit"/>
    </form>
    
</body>
</html>