<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script> -->
</head>
<body>
    <a href="/">Go Home</a>
    
    <form method="POST">
        {% csrf_token %}
        <label>Name:</label>
        <input type="text" name="name"  {% if dev %} value="{{dev.name}}"{% endif %}  />
        <input type="submit"/>
    </form>
    
</body>
</html>