<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Developers</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script> -->
</head>
<body>
    <a href="{% url 'add' %}">Add Developer</a>
    <hr>
    <h1>Developers</h1>

    <ul>
        {% for dev in devs %}
           <li><a href="{% url 'profile' dev.id %}">{{dev.name}}</a></li>
        {% endfor %}
    </ul>
    
</body>
</html>